<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

In [7]:
List = ["Python", "R", "SQL"]

Some of the commonly used libraries used by Data Scientists include:

In [9]:
list = ["TensorFlow" , "NumPy" , "SciPy" ]

|Data Science Tools|
|------------------|
|RStudio|
|------------------|
|Apache Spark|
|------------------|
|TensorFlow|

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [19]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [20]:
# This will convert 200 minutes to hours by diving by 60

min=200
h=min//60
m=min%60
print("Hours=",h)

Hours= 3

<b> Objectives: </b>

<ul> Julia,
Scala,
VBA (Visual Basic for Applications)</ul>

<h1> Author : </h1> 
<h3> Abdullah Alghumayz </h3>